[package]
name = "migration"
version = "0.1.0"
edition = "2024"
publish = false

[lib]
name = "migration"
path = "src/lib.rs"

[dependencies]
tokio = { version = "1", features = ["full"] }

[dependencies.sea-orm-migration]
version = "1.1"
features = [
  "runtime-tokio-native-tls",  # async runtime
  "sqlx-postgres"              # database driver
]
